<div class="content" style="display: flex; justify-content: space-between; flex-flow: row wrap; margin: 10px;">
    <div class="card"   style="padding: 15px; margin: 15px;text-align: center;  border-style: inset;background-color: #f1f1f1;">
            <img style="align-self: center;width: 300px;" class="product-img" width=200 [src]="product.img" /><br>
                    
            <br><span><b> Title : {{product.name}}</b></span>
            <br><span> <b>Brand : </b>{{product.brand}}</span>
            <br><span> <b>Location Available : </b>{{product.location}}</span>
            <br><span> Details : {{product.desc}}</span>
    </div>
</div>    