
<mat-toolbar color="primary">
  <mat-toolbar-row >
    <mat-icon (click)="opened=!opened">menu</mat-icon>
    <div style="margin-left: 12px;">Product Management</div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <mat-list-item><a routerLink="/list-product" style="text-decoration: none;" (click)="opened=!opened">Home</a></mat-list-item>
      <mat-list-item><a routerLink="/trash" style="text-decoration: none;" (click)="opened=!opened">Trash</a></mat-list-item>

    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>